##############################
# Repository Specific Ignores
##############################

##############################
# Common Ignores
##############################
/packages
**/bin
**/obj
**/bower_components
**/node_modules
**/*.csproj.user
**/PrecompiledWeb
*.user
*.vs
/src/ShaneSpace.VisualStudio.InvisibleCharacterVisualizer/.vs/ShaneSpace.VisualStudio.InvisibleCharacterVisualizer.csproj.dtbcache.json
*.suo
*.user
/bin-debug
/bin-release
*.log
*.log.*
/logs
/log
*.sqlite
*.db
/tmp
/temp
*.tmp
*.temp
.vscode
.idea
*.bak
*.backup
.DS_Store
Thumbs.db